
<!-- include header -->
<%- include('include/_add_user_header') %>
<!--/include header  -->


 <!-- main section -->
 <main id="site-main">
    <div class="container">
      <div class="box-nav d-flex justify-between">
        <a style="text-decoration: none;" href="adminHome " class="border-shadow">
          <span class="border-shadow"
            >All users<i class="fa-solid fa-users"></i>
          </span>
        </a>
      </div>
      <div class="form-title text-center">
          <h2 class="text-dark">New User</h2>
          <span class="text-light">Use the below form to create a new account</span>
      </div>

       <!-- add user form  -->
<%- include('include/_add_user_form') %>


      
    </div>
  </main>

  <!-- main section -->


 


<!-- include footer -->
<%- include('include/_footer') %>
<!--/include footer  -->