<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
    
</head>
<body>
    <div class="root">
        <h1>Admin Login page</h1>
        <div class="innerform">
            <form class="loginform" action="#" method="post">
                <label class="label" for="username">Username</label><br>
                <input class="label" type="text" class="username"><br>
                <label class="label" for="password">password</label><br>
                <input  class="label"type="password" class="password"><br>
                <button class="labelb" type="button">Login</button>


            </form>
            
        </div>


    </div>
    
</body>
</html>