<!-- include header -->
<%- include('include/_header') %>
<!--/include header  -->

<!-- main section -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="addUser" class="border-shadow">
        <span class="text-gradient">
          New User <i class="fa-solid fa-user" style="color: #ffffff"></i>
        </span>
      </a>
    </div>

    <div class="table-container">
      <div class="table-wrapper">
        <form action="/" method="post">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%- include('include/_show', { users: users }) %>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</main>
<!--/main section -->

<!-- include footer -->
<%- include('include/_footer') %>
<!--/include footer  -->
